
# PlanAhead Generated physical constraints 

NET "ACCEL_X[11]" LOC = P2;
NET "ACCEL_X[10]" LOC = R2;
NET "ACCEL_X[9]" LOC = U1;
NET "ACCEL_X[8]" LOC = P5;
NET "ACCEL_X[7]" LOC = R1;
NET "ACCEL_X[6]" LOC = V1;
NET "ACCEL_X[5]" LOC = U3;
NET "ACCEL_X[4]" LOC = V4;
NET "ACCEL_X[3]" LOC = U6;
NET "ACCEL_X[2]" LOC = U7;
NET "ACCEL_X[1]" LOC = T4;
NET "ACCEL_X[0]" LOC = T5;
NET "Data_Ready" LOC = T8;
NET "RESET" LOC = E16;

# PlanAhead Generated IO constraints 

NET "ACCEL_X[11]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[10]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[9]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[8]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[7]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[6]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[5]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[4]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[3]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[2]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[1]" IOSTANDARD = LVCMOS18;
NET "ACCEL_X[0]" IOSTANDARD = LVCMOS18;
NET "Data_Ready" IOSTANDARD = LVCMOS18;
NET "MISO" IOSTANDARD = LVCMOS18;
NET "MOSI" IOSTANDARD = LVCMOS18;
NET "RESET" IOSTANDARD = LVCMOS18;
NET "SCLK" IOSTANDARD = LVCMOS18;
NET "SYSCLK" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "SS" LOC = C15;
NET "MISO" LOC = D13;

# PlanAhead Generated IO constraints 

NET "SS" IOSTANDARD = LVCMOS18;

# PlanAhead Generated physical constraints 

NET "MOSI" LOC = B14;
INST "SYSCLK_BUFGP" LOC = E3;
NET "SYSCLK" LOC = E3;
NET "SCLK" LOC = D15;
