

NET "MISO" LOC = D13;
NET "MOSI" LOC = B14;
NET "RESET" LOC = E16;
NET "SCLK" LOC = D15;
NET "SS" LOC = C15;
INST "SYSCLK_BUFGP" LOC = E3;
NET "SYSCLK" LOC = E3;


NET "SYSCLK" IOSTANDARD = LVCMOS18;
NET "SS" IOSTANDARD = LVCMOS18;
NET "SCLK" IOSTANDARD = LVCMOS18;
NET "RESET" IOSTANDARD = LVCMOS18;
NET "MOSI" IOSTANDARD = LVCMOS18;
NET "MISO" IOSTANDARD = LVCMOS18;


NET "DISPLAY[0]" LOC = N6;
NET "DISPLAY[1]" LOC = M6;
NET "DISPLAY[2]" LOC = M3;
NET "DISPLAY[3]" LOC = N5;
NET "DISPLAY[4]" LOC = N2;
NET "DISPLAY[5]" LOC = N4;
NET "DISPLAY[6]" LOC = L1;
NET "DISPLAY[7]" LOC = M1;
NET "DISPLAY[13]" LOC = K3;


NET "DISPLAY[14]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[13]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[12]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[11]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[10]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[9]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[8]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[7]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[6]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[5]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[4]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[3]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[2]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[1]" IOSTANDARD = LVCMOS18;
NET "DISPLAY[0]" IOSTANDARD = LVCMOS18;


NET "DISPLAY[15]" IOSTANDARD = LVCMOS18;


NET "DISPLAY[14]" LOC = M2;
NET "DISPLAY[12]" LOC = L4;
NET "DISPLAY[11]" LOC = L5;
NET "DISPLAY[10]" LOC = N1;
NET "DISPLAY[9]" LOC = L3;
NET "DISPLAY[8]" LOC = M4;
NET "DISPLAY[15]" LOC = L6;


# PlanAhead Generated physical constraints 

NET "DIODE_X_G" LOC = H6;
NET "DIODE_X_R" LOC = K6;
NET "DIODE_Y_G" LOC = F13;
NET "DIODE_Y_R" LOC = K5;

# PlanAhead Generated IO constraints 

NET "DIODE_Y_R" IOSTANDARD = LVCMOS18;
NET "DIODE_Y_G" IOSTANDARD = LVCMOS18;
NET "DIODE_X_R" IOSTANDARD = LVCMOS18;
NET "DIODE_X_G" IOSTANDARD = LVCMOS18;
